/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  font-family: "Roboto";
  font-size: 20px;
  color: #0f172a;
}

.content-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inner-container {
  display: flex;
  padding: 5px;
  width: 250px;
  margin-bottom: 15px;
}

.blue-container {
  background-color: #0b69ff;
}

.green-container {
  background-color: #2dca73;
}

.yellow-container {
  background-color: #ffb800;
}

.red-container {
  background-color: #ff0b37;
}

.icon {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  margin-top: 10px;
}

.para-class {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 10px;
}
